:root{
    --fontSize-paragraph: calc(1rem + 0.5vw);
}



body{
    display: flex;
    flex-direction: row;
    margin: 0;
    min-width: 1440px;
    min-height: 100vh;
}

.right{
    flex: 1 1 auto;

    background-color: gray;
}

.left
{
    width: 37.5%;
    background-color: blue;
    background-image: url(Images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    
}

.title-box
{
    
    margin-top: 21vh;
    height: 14%;
    width: auto;
    background-color: rgb(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

.title-logo
{
    height: 100%;
}

@font-face {
    font-family: Norse-Bold;
    src: url(Fonts/Norse-Bold.otf);
}

.title-text
{
    color: white;
    font-size: 6rem;
    font-family: Norse-Bold;
}

.caption
{
    font-size: var(--fontSize-paragraph);
    font-weight: 500;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    margin: 8% 10% 50px 50px;

    max-width: 46ch;
}

.form
{
    padding: 0px 0px 50px 50px;
    display: flex;
    flex-direction: column;
   
}

.form-row
{
    display: flex;
    flex-direction: row;
}

.input-gp
{
    display: flex;
    flex-direction: column;
}

.input-gp input
{
    width: 325px;
}