body{
    display: flex;
    flex-direction: row;
    margin: 0;
}



.right{
    height: 100vh;
    width:  70vh;
    flex: 1 1 70%;
    background-color: green;
}

.left
{
    height: 100vh;
    width: 30vh;
    flex: 1 1 30%;
    background-color: blue;
}

.title-box
{
    opacity: .7;
    margin-top: 25vh;
    height: 20vh;
    width: auto;
    background-color: black;
}